.playground{
    width:50%;
    height:50%;
    margin: auto;
        position: relative; /* container for absolutely-positioned ball */
}
/* ensure root fills viewport if needed */
html, body, #root {
    height: 100%;
}

.ball{
        background-color: black;
        box-shadow: 0 10px 10px -6px;
        position: absolute;
        left: 0px;
        top: 20px;
        height: 50px;
        width: 50px;
        border-radius: 25px;
}
